
.sbold{
    font-weight: 400
}
.mbold{
    font-weight: 500
}
.smbold{
    font-weight: 700;
}
.bold{
    font-weight: 900;
}
.uppercase{
    text-transform: uppercase;
}

.zindex-999{
    z-index: 999;
}
 
.cp{
    cursor: pointer;
}

@mixin bg-img($img){
    background-image: url('../img/#{$img}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn{
    border-radius: 4px;
    font-size: 16px;
    line-height: 19%;
    font-family:'Roboto', cursive;
    padding: 6px 12px;
    font-weight: 500;
   
}
.btn-laranja{
    background-color: $laranja;
    color: $branco;
    transition: 0.6s;
    &:hover{
        background-color: transparent;
        color: $laranja;
        border: 1px solid $laranja;
            svg{
                path{
                    fill: $laranja;
                }
            }
    }
}

/*
button,
input,
select {
    &:focus,
    &:active,
    &:focus &:active {
        outline: none!important;
        box-shadow: none!important;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: $grey;
    -webkit-text-fill-color: $grey;
    transition: background-color 5000s ease-in-out 0s;
}
*/