
.sbold{
    font-weight: 400
}
.mbold{
    font-weight: 500
}
.smbold{
    font-weight: 700;
}
.bold{
    font-weight: 900;
}
.uppercase{
    text-transform: uppercase;
}

.zindex-999{
    z-index: 999;
}
 
.cp{
    cursor: pointer;
}

@mixin bg-img($img){
    background-image: url('../img/#{$img}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn{
    border-radius: 4px;
    font-size: 16px;
    line-height: 19%;
    font-family:'Roboto', cursive;
    padding: 6px 12px;
    font-weight: 500;
   
}
.btn-laranja{
    background-color: $laranja;
    color: $branco;
    transition: 0.6s;
    &:hover{
        background-color: transparent;
        color: $laranja;
        border: 1px solid $laranja;
            svg{
                path{
                    fill: $laranja;
                }
           }
    }
}
