@media screen and (min-width: $xs) {
    h1{
        font-family:'Roboto', cursive;
        font-size: 30px;
        line-height: 35px;
    }
    h2{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.05em;
}
    .h3{
        font-size: 18px;
        line-height: 21px;
        font-weight: 700;
        letter-spacing: 0;
    }
    .h4{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
    a{
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
        line-height: 19px;
    }

    p{
        font-family: 'Quicksand', sans-serif;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.02em;
}
    .pt{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 16px;
    }
    .pd{
        font-size: 12px;
        line-height: 120%;
        font-weight: 400;
        color: #5C5C5C;
    }
    .pdn{
        line-height: 17px;
        font-size: 14px;
        font-weight: 700;
    }
    .pp{
        font-size: 14px;
        line-height: 19px;
    }
    .hd{
        font-size: 14px;
        line-height: 25px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.05em;
        cursor: pointer;
        margin-top: 12px;
        margin-bottom: 6px;
        font-weight: 500;
    }
    .pr{
        line-height: 23px;
    }
    .pe{
        font-size: 12px;
        line-height: 15px;
    }
    .ht{
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        line-height: 26px;
    }
    .pp{
        font-size: 10px;
        line-height: 120%;
        letter-spacing: 0.02em;
    }
}


