$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;
$marrom: rgb(114, 92, 92);
$branco: #FFFFFF;
$laranja:#ED7839;
$cinza: #4E4E4E;
$cinzamedio:#5C5C5C;
$cinzaclaro:#ADA0A0;
$roxo:#6E498C;
$cinzinha: #757575;
$cinzam: #4D4D4D;

